/* Name: Anson Mah */
/* Date: 14 March, 2024 (π Day) */

.full_container {
  border-radius: 5%;
  background-color: rgba(204, 242, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-image: url('island_background.jpg');
  font-family: sans-serif;
  background-size: cover;
}

.full_container {
  padding: 1em;
  position: relative;
}

.all_boxes {
  padding: 1em 0;
  display: grid;
  gap: 0.5em;
}

#title, #swapButton, #link, #map_button {
  text-align: center;
}

.one_box {
  padding: 0.5em 0.2em;
}

.currency_symbol {
  border: 1px black solid;
  width: fit-content;
  text-align: center;
}

.currency_boxes {
  display: flex;
  gap: 0.45em;
}

.currency_symbol {
  width: 1.5em;
  background-color: white;
}

.valueBoth {
  width: 26.3em;
}

.currency_list {
  padding: 0.9em 0.2em;
  width: 30em;
}

.button {
  padding: 0.5em 1em;
}

#map_button {
  height: 1.65em;
  width: 1.65em;
  background-color: hsl(240, 80%, 30%);
  position: relative;
  bottom: 3.7em;
  font-size: 2.25em;
  user-select: none;
  transition: background-color 0.35s;
}

#map_button:hover {
  background-color: hsl(240, 70%, 40%);
  transition: background-color 0.5s;
}